/* General Styles */

.timeline-section {
  background-color: #ffffff;
  padding: 3rem 1rem;
  font-family: Arial, sans-serif;
  position: relative;
  height: 500px;
}

.timeline-title {
  text-align: center;
  font-size: 3rem;
  color: #000000;
  position: relative;
  left: 500px;
  bottom: 150px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.timeline-container {
  position: relative;
  max-width: 800px;
  max-height: 50px;
  margin: 0 auto;
  right: 200px;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 1rem;
  opacity: 0;
  transition: all 0.8s ease;
}

.timeline-item.show {
  opacity: 1;
  transform: translateX(0);
}

.timeline-item.left {
  left: 0;
  transform: translateX(-50px);
}

.timeline-item.right {
  left: 50%;
  transform: translateX(50px);
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 8px;
  background-color: #4100DA;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}

.timeline-content {
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

.timeline-item.left .timeline-content {
  margin-right: 1rem;
  text-align: right;
}

.timeline-item.right .timeline-content {
  margin-left: 1rem;
}

.timeline-content:hover {
  transform: scale(1.05);
}

.timeline-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.timeline-date {
  font-size: 0.9rem;
  font-weight: bold;
  color: #4100DA;
  margin-bottom: 0.5rem;
}
.timeline-para {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0a0a0a;
  margin-bottom: 0.5rem;
}
/* Connector Line */
.timeline-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #4100DA;
  border: 4px solid #ffffff;
  top: 15px;
  border-radius: 50%;
  z-index: 2;
  left: 50%;
  margin-left: -10px;
}
