.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
#projects{
    position: relative;
    top: 2500px;
}
.project_name{
    position: relative;
    bottom: 320px;
    left: 450px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.card {
  position: relative;
  right: 120px;
  top: 100px;
  width: 400px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 150px; 
  padding: 20px;
}

.card__image {
  width: 370px;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  opacity: 1;
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.card__description {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

.card__button {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.card__button:hover {
  background: #555;
}

.card__button.secondary {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.card__button.secondary:hover {
  background: #fff;
  color: #333;
}
